body {
	background-color: black;
}

div {
	background-color: white;
}

p {
	color: black;
}

#postcard-back {
	width: 50%;
	height: 50%;
	margin: auto;
	border-radius: 5px;
}

#boton {
	color: black;
	width: 180px;
	height: 40px;
	border-style: inset;
	background-color: gray;
}

#boton:hover {
	color: black;
	width: 180px;
	height: 40px;
	border-style: outset;
	background-color: gray;
}
